/.phpunit.cache
/public/hot
/public/storage
/public/docs
/storage/*.key
/vendor
/.idea
.env
.env.testing
.env.backup
.php-cs-fixer.cache
.phpunit.result.cache
/.scribe
coverage.xml
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
