includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - tests

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#Trait Tests\\CreatesApplication is used zero times and is not analysed.*#'
        - '#Call to an undefined method Pest\\Expectation|Pest\\Support\\.*#'
        - '#Access to an undefined property Pest\\Expectation<mixed>::\$id.*#'
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::*#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::*#'
