includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - tests

    # The level 9 is the highest level
    level: 8

    ignoreErrors:

    checkMissingIterableValueType: false
