includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - tests

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Call to an undefined method Pest\\Expectation|Pest\\Support\\.*#'
        - '#Access to an undefined property Pest\\Expectation<mixed>::\$id.*#'

    checkMissingIterableValueType: false
